nav span{
    color: red;
}
nav a img{
    width:50px;
    height:50px;
}
nav a .green{
    color: green;
}
nav a .red{
    color: red;
}
#home .swiper-slide img{
    margin: 0px 0px;
    width: 100vw;
    height: 80vh;
}
.main .rate,.contact,.about h3{
    padding: 30px;
    text-align: center;
}
.main .rate .heading{
    font-size: 29px;
    border-bottom: 5px solid green;
}
.main .row .table-responsive-sm{
    padding: 20px 30px;
}
.main .rate, .about{
    background: #f8f5f5;
}
.main .sell{
    padding: 40px 0px;
}
footer{
    padding: 50px 10px;
    background:#D3D3D3;
    text-align:center;
    color:black;
}
